modules = ["nodejs-20", "web", "python-3.12", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3000

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://cb37229e-fc15-4f9e-804d-490db4ef5a87-00-z2dt1tbifb0i.spock.replit.dev"
