--
-- PostgreSQL database dump
--

\restrict MkxUY4hTf86T5bCnuBVhyaECfl6v8UmTeWEORoXRBMvICW0QIeFnQBfXNACpjWc

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: usuario
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO usuario;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: usuario
--

COMMENT ON SCHEMA public IS '';


--
-- Name: LogicToopFlowStatus; Type: TYPE; Schema: public; Owner: usuario
--

CREATE TYPE public."LogicToopFlowStatus" AS ENUM (
    'DRAFT',
    'TESTING',
    'ACTIVE',
    'PAUSED',
    'ARCHIVED'
);


ALTER TYPE public."LogicToopFlowStatus" OWNER TO usuario;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO usuario;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    details text,
    ip text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userAgent" text
);


ALTER TABLE public.audit_logs OWNER TO usuario;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.banners (
    id text NOT NULL,
    titulo text NOT NULL,
    tipo text DEFAULT 'IMAGEN'::text NOT NULL,
    "mediaUrl" text NOT NULL,
    "linkDestino" text,
    posicion text DEFAULT 'HOME_TOP'::text NOT NULL,
    prioridad integer DEFAULT 0 NOT NULL,
    estado text DEFAULT 'DRAFT'::text NOT NULL,
    "fechaInicio" timestamp(3) without time zone,
    "fechaFin" timestamp(3) without time zone,
    "notasAdmin" text,
    "creadoPorId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedById" text,
    context text DEFAULT 'ORG_LANDING'::text NOT NULL,
    "ctaText" text,
    "ctaUrl" text,
    headline text,
    "internalName" text,
    "orgId" text,
    "projectId" text,
    "publishedAt" timestamp(3) without time zone,
    subheadline text,
    tagline text
);


ALTER TABLE public.banners OWNER TO usuario;

--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.blog_posts (
    id text NOT NULL,
    titulo text NOT NULL,
    contenido text NOT NULL,
    slug text NOT NULL,
    status text DEFAULT 'PENDIENTE'::text NOT NULL,
    "autorId" text NOT NULL,
    "orgId" text,
    imagen text,
    tags text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.blog_posts OWNER TO usuario;

--
-- Name: documentacion; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.documentacion (
    id text NOT NULL,
    tipo text NOT NULL,
    "archivoUrl" text NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    comentarios text,
    "usuarioId" text,
    "proyectoId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.documentacion OWNER TO usuario;

--
-- Name: etapas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.etapas (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    nombre text NOT NULL,
    orden integer NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.etapas OWNER TO usuario;

--
-- Name: favoritos_proyecto; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.favoritos_proyecto (
    id text NOT NULL,
    "userId" text NOT NULL,
    "proyectoId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.favoritos_proyecto OWNER TO usuario;

--
-- Name: historial_unidades; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.historial_unidades (
    id text NOT NULL,
    "unidadId" text NOT NULL,
    "usuarioId" text NOT NULL,
    "estadoAnterior" text NOT NULL,
    "estadoNuevo" text NOT NULL,
    motivo text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.historial_unidades OWNER TO usuario;

--
-- Name: hitos_escrow; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.hitos_escrow (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    titulo text NOT NULL,
    descripcion text,
    porcentaje double precision NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "fechaLogro" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.hitos_escrow OWNER TO usuario;

--
-- Name: imagenes_mapa; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.imagenes_mapa (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    "unidadId" text,
    url text NOT NULL,
    tipo text DEFAULT 'foto'::text NOT NULL,
    titulo text,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    orden integer DEFAULT 0 NOT NULL,
    "altitudM" double precision DEFAULT 500,
    "imageHeading" double precision DEFAULT 0,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "latOffset" double precision DEFAULT 0,
    "lngOffset" double precision DEFAULT 0,
    "planRotation" double precision DEFAULT 0,
    "planScale" double precision DEFAULT 1
);


ALTER TABLE public.imagenes_mapa OWNER TO usuario;

--
-- Name: infraestructuras; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.infraestructuras (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    nombre text NOT NULL,
    categoria text NOT NULL,
    tipo text NOT NULL,
    "geometriaTipo" text NOT NULL,
    coordenadas text NOT NULL,
    estado text DEFAULT 'planificado'::text NOT NULL,
    descripcion text,
    superficie double precision,
    "longitudM" double precision,
    "fechaEstimadaFin" timestamp(3) without time zone,
    "porcentajeAvance" integer DEFAULT 0 NOT NULL,
    fotos text,
    "colorPersonalizado" text,
    orden integer DEFAULT 0 NOT NULL,
    visible boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.infraestructuras OWNER TO usuario;

--
-- Name: integration_configs; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.integration_configs (
    id text NOT NULL,
    "orgId" text NOT NULL,
    provider text NOT NULL,
    status text DEFAULT 'INACTIVE'::text NOT NULL,
    config jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.integration_configs OWNER TO usuario;

--
-- Name: inversiones; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.inversiones (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    "inversorId" text NOT NULL,
    "m2Comprados" numeric(18,2) NOT NULL,
    "montoTotal" numeric(18,2) NOT NULL,
    "precioM2Aplicado" numeric(18,2) NOT NULL,
    estado text DEFAULT 'ESCROW'::text NOT NULL,
    "hashTransaccion" text,
    "fechaInversion" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.inversiones OWNER TO usuario;

--
-- Name: kyc_profiles; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.kyc_profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "selfieUrl" text,
    "nombrePublico" text,
    "tipoDeveloper" text,
    "yearsExperience" integer,
    "proyectosRealizados" integer,
    "descripcionProfesional" text,
    especialidad text,
    "razonSocial" text,
    "nombreComercial" text,
    "cuitEmpresa" text,
    "direccionOficina" text,
    ciudad text,
    provincia text,
    pais text DEFAULT 'Argentina'::text,
    "telefonoComercial" text,
    "sitioWeb" text,
    "linkedinEmpresa" text,
    "estatutoUrl" text,
    "matriculaUrl" text,
    "constanciaBancariaUrl" text,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "notasAdmin" text,
    "verificadoPorId" text,
    "verificadoAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "dniDorso" text,
    "dniFrente" text,
    "ingresosEstimados" text,
    "pasaporteUrl" text,
    "patrimonioEstimado" text,
    "perfilRiesgo" text,
    "politicasAceptadas" boolean DEFAULT false NOT NULL,
    "politicasAceptadasAt" timestamp(3) without time zone,
    tipo text DEFAULT 'DESARROLLADOR'::text NOT NULL
);


ALTER TABLE public.kyc_profiles OWNER TO usuario;

--
-- Name: lead_intake; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.lead_intake (
    id text NOT NULL,
    source text NOT NULL,
    "rawPayload" jsonb NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    error text,
    "orgId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.lead_intake OWNER TO usuario;

--
-- Name: lead_messages; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.lead_messages (
    id text NOT NULL,
    "leadId" text NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lead_messages OWNER TO usuario;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.leads (
    id text NOT NULL,
    nombre text NOT NULL,
    email text,
    telefono text,
    origen text DEFAULT 'WEB'::text NOT NULL,
    "proyectoId" text,
    "unidadInteres" text,
    estado text DEFAULT 'NUEVO'::text NOT NULL,
    "asignadoAId" text,
    "ultimoContacto" timestamp(3) without time zone,
    fuente text,
    campana text,
    mensaje text,
    notas text,
    "aiQualificationScore" integer,
    "lastAiSummary" text,
    "automationStatus" text DEFAULT 'MANUAL'::text NOT NULL,
    "communityType" text DEFAULT 'NONE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    presupuesto numeric(18,2),
    "perfilInversor" text DEFAULT 'MODERADO'::text,
    "adId" text,
    "adSetId" text,
    "campanaId" text,
    "canalOrigen" text DEFAULT 'WEB'::text NOT NULL,
    "orgId" text,
    score integer DEFAULT 0,
    "etapaId" text
);


ALTER TABLE public.leads OWNER TO usuario;

--
-- Name: logic_toop_executions; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.logic_toop_executions (
    id text NOT NULL,
    "flowId" text NOT NULL,
    "triggerPayload" jsonb NOT NULL,
    status text DEFAULT 'RUNNING'::text NOT NULL,
    logs jsonb NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "finishedAt" timestamp(3) without time zone,
    "resumeAt" timestamp(3) without time zone,
    "currentStepIndex" integer DEFAULT 0 NOT NULL,
    "aiEstimatedCost" double precision DEFAULT 0 NOT NULL,
    "aiModelsUsed" jsonb,
    "aiTokensUsed" integer DEFAULT 0 NOT NULL,
    "errorMessage" text
);


ALTER TABLE public.logic_toop_executions OWNER TO usuario;

--
-- Name: logic_toop_flows; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.logic_toop_flows (
    id text NOT NULL,
    "orgId" text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    "triggerType" text NOT NULL,
    actions jsonb NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb,
    "recommendationId" text,
    status public."LogicToopFlowStatus" DEFAULT 'DRAFT'::public."LogicToopFlowStatus" NOT NULL
);


ALTER TABLE public.logic_toop_flows OWNER TO usuario;

--
-- Name: logic_toop_jobs; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.logic_toop_jobs (
    id text NOT NULL,
    "executionId" text NOT NULL,
    "orgId" text NOT NULL,
    "actionType" text NOT NULL,
    config jsonb NOT NULL,
    payload jsonb NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "maxRetries" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "scheduledAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.logic_toop_jobs OWNER TO usuario;

--
-- Name: logic_toop_recommendations; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.logic_toop_recommendations (
    id text NOT NULL,
    "orgId" text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    "problemDetected" text,
    "proposedSolution" text,
    "expectedImpact" text,
    confidence double precision DEFAULT 0 NOT NULL,
    severity text DEFAULT 'INFO'::text NOT NULL,
    status text DEFAULT 'NEW'::text NOT NULL,
    "suggestedTrigger" text,
    "suggestedNodes" jsonb,
    signals jsonb DEFAULT '{}'::jsonb,
    "sourceMetrics" jsonb DEFAULT '{}'::jsonb,
    explanation jsonb DEFAULT '{}'::jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sourceFlowId" text
);


ALTER TABLE public.logic_toop_recommendations OWNER TO usuario;

--
-- Name: logic_toop_templates; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.logic_toop_templates (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    "triggerType" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    category text DEFAULT ' Lead Automation'::text NOT NULL,
    "createdBy" text,
    "flowConfig" jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    version integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.logic_toop_templates OWNER TO usuario;

--
-- Name: manzanas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.manzanas (
    id text NOT NULL,
    "etapaId" text NOT NULL,
    nombre text NOT NULL,
    coordenadas text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.manzanas OWNER TO usuario;

--
-- Name: noticias; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.noticias (
    id text NOT NULL,
    titulo text NOT NULL,
    slug text NOT NULL,
    excerpt text,
    contenido text NOT NULL,
    categoria text DEFAULT 'GENERAL'::text NOT NULL,
    "imagenUrl" text,
    destacada boolean DEFAULT false NOT NULL,
    "autorId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.noticias OWNER TO usuario;

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.notificaciones (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    tipo text NOT NULL,
    titulo text NOT NULL,
    mensaje text NOT NULL,
    leido boolean DEFAULT false NOT NULL,
    "linkAccion" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO usuario;

--
-- Name: oportunidades; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.oportunidades (
    id text NOT NULL,
    "leadId" text NOT NULL,
    "proyectoId" text NOT NULL,
    "unidadId" text,
    etapa text DEFAULT 'NUEVO'::text NOT NULL,
    probabilidad integer DEFAULT 0 NOT NULL,
    "valorEstimado" numeric(18,2),
    presupuesto numeric(18,2),
    "fechaCierreEstimada" timestamp(3) without time zone,
    "proximaAccion" text,
    "fechaProximaAccion" timestamp(3) without time zone,
    "motivoPerdida" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.oportunidades OWNER TO usuario;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.organizations (
    id text NOT NULL,
    nombre text NOT NULL,
    slug text NOT NULL,
    plan text DEFAULT 'FREE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "planId" text
);


ALTER TABLE public.organizations OWNER TO usuario;

--
-- Name: pagos; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.pagos (
    id text NOT NULL,
    monto numeric(18,2) NOT NULL,
    moneda text DEFAULT 'USD'::text NOT NULL,
    concepto text,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "comprobanteUrl" text,
    "fechaPago" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "usuarioId" text NOT NULL,
    "proyectoId" text,
    "bannerId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    tipo text,
    "idempotencyKey" text
);


ALTER TABLE public.pagos OWNER TO usuario;

--
-- Name: pipeline_etapas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.pipeline_etapas (
    id text NOT NULL,
    "orgId" text NOT NULL,
    nombre text NOT NULL,
    color text DEFAULT '#6366f1'::text NOT NULL,
    orden integer NOT NULL,
    "esDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.pipeline_etapas OWNER TO usuario;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.plans (
    id text NOT NULL,
    nombre text NOT NULL,
    precio double precision DEFAULT 0 NOT NULL,
    limites jsonb NOT NULL,
    features jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.plans OWNER TO usuario;

--
-- Name: price_history; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.price_history (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    "usuarioId" text NOT NULL,
    "precioAnterior" numeric(18,2) NOT NULL,
    "precioNuevo" numeric(18,2) NOT NULL,
    tipo text NOT NULL,
    motivo text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.price_history OWNER TO usuario;

--
-- Name: project_feature_flags; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.project_feature_flags (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "infoGeneral" boolean DEFAULT true NOT NULL,
    archivos boolean DEFAULT false NOT NULL,
    documentos boolean DEFAULT false NOT NULL,
    pagos boolean DEFAULT false NOT NULL,
    masterplan boolean DEFAULT false NOT NULL,
    "motorPlanos" boolean DEFAULT false NOT NULL,
    tour360 boolean DEFAULT false NOT NULL,
    etapas boolean DEFAULT false NOT NULL,
    inventario boolean DEFAULT false NOT NULL,
    metricas boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.project_feature_flags OWNER TO usuario;

--
-- Name: proyecto_archivos; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.proyecto_archivos (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    tipo text NOT NULL,
    nombre text NOT NULL,
    url text NOT NULL,
    "visiblePublicamente" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.proyecto_archivos OWNER TO usuario;

--
-- Name: proyecto_imagenes; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.proyecto_imagenes (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    url text NOT NULL,
    categoria text NOT NULL,
    "esPrincipal" boolean DEFAULT false NOT NULL,
    orden integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.proyecto_imagenes OWNER TO usuario;

--
-- Name: proyectos; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.proyectos (
    id text NOT NULL,
    nombre text NOT NULL,
    slug text,
    descripcion text,
    ubicacion text,
    estado text DEFAULT 'PLANIFICACION'::text NOT NULL,
    tipo text DEFAULT 'URBANIZACION'::text NOT NULL,
    "imagenPortada" text,
    galeria text,
    documentos text,
    "masterplanSVG" text,
    "mapCenterLat" double precision DEFAULT '-34.6037'::numeric,
    "mapCenterLng" double precision DEFAULT '-58.3816'::numeric,
    "mapZoom" integer DEFAULT 16,
    "overlayUrl" text,
    "overlayBounds" text,
    "overlayRotation" double precision DEFAULT 0,
    invertible boolean DEFAULT false NOT NULL,
    "precioM2Inversor" numeric(18,2),
    "precioM2Mercado" numeric(18,2),
    "metaM2Objetivo" numeric(18,2),
    "m2VendidosInversores" numeric(18,2) DEFAULT 0 NOT NULL,
    "fechaLimiteFondeo" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "documentacionEstado" text DEFAULT 'PENDIENTE'::text NOT NULL,
    "creadoPorId" text,
    "aiKnowledgeBase" text,
    "aiSystemPrompt" text,
    "demoExpiresAt" timestamp(3) without time zone,
    "isDemo" boolean DEFAULT false NOT NULL,
    "requireKyc" boolean DEFAULT true NOT NULL,
    "visibilityStatus" text DEFAULT 'PUBLICADO'::text NOT NULL,
    "orgId" text,
    "deletedAt" timestamp(3) without time zone,
    "tour360Url" text
);


ALTER TABLE public.proyectos OWNER TO usuario;

--
-- Name: reservas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.reservas (
    id text NOT NULL,
    "unidadId" text NOT NULL,
    "leadId" text,
    "vendedorId" text NOT NULL,
    "fechaInicio" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "fechaVencimiento" timestamp(3) without time zone NOT NULL,
    "montoSena" numeric(18,2),
    "estadoPago" text DEFAULT 'PENDIENTE'::text NOT NULL,
    "documentoGenerado" text,
    estado text DEFAULT 'ACTIVA'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "compradorEmail" text,
    "compradorId" text,
    "compradorNombre" text,
    notas text,
    "idempotencyKey" text
);


ALTER TABLE public.reservas OWNER TO usuario;

--
-- Name: system_config; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.system_config (
    key text NOT NULL,
    value text NOT NULL,
    description text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_config OWNER TO usuario;

--
-- Name: tareas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.tareas (
    id text NOT NULL,
    titulo text NOT NULL,
    descripcion text,
    "fechaVencimiento" timestamp(3) without time zone NOT NULL,
    prioridad text DEFAULT 'MEDIA'::text NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "leadId" text,
    "usuarioId" text NOT NULL,
    "proyectoId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tareas OWNER TO usuario;

--
-- Name: testimonios; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.testimonios (
    id text NOT NULL,
    "autorNombre" text NOT NULL,
    "autorTipo" text DEFAULT 'USUARIO'::text NOT NULL,
    "autorContacto" text,
    texto text NOT NULL,
    rating integer DEFAULT 5,
    "mediaUrl" text,
    "proyectoId" text,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    destacado boolean DEFAULT false NOT NULL,
    "notasAdmin" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.testimonios OWNER TO usuario;

--
-- Name: tour_hotspots; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.tour_hotspots (
    id text NOT NULL,
    "sceneId" text NOT NULL,
    "unidadId" text NOT NULL,
    type text DEFAULT 'INFO'::text NOT NULL,
    pitch double precision NOT NULL,
    yaw double precision NOT NULL,
    text text,
    "targetSceneId" text
);


ALTER TABLE public.tour_hotspots OWNER TO usuario;

--
-- Name: tour_scenes; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.tour_scenes (
    id text NOT NULL,
    "tourId" text NOT NULL,
    title text NOT NULL,
    "imageUrl" text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    category text DEFAULT 'RAW'::text NOT NULL,
    "pannellumHotspots" jsonb,
    "thumbnailUrl" text,
    "masterplanOverlay" jsonb
);


ALTER TABLE public.tour_scenes OWNER TO usuario;

--
-- Name: tours_360; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.tours_360 (
    id text NOT NULL,
    "proyectoId" text NOT NULL,
    "unidadId" text,
    nombre text NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "notasAdmin" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    anchors jsonb
);


ALTER TABLE public.tours_360 OWNER TO usuario;

--
-- Name: unidades; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.unidades (
    id text NOT NULL,
    "manzanaId" text NOT NULL,
    numero text NOT NULL,
    tipo text DEFAULT 'LOTE'::text NOT NULL,
    superficie double precision,
    frente double precision,
    fondo double precision,
    "esEsquina" boolean DEFAULT false NOT NULL,
    orientacion text,
    precio double precision,
    moneda text DEFAULT 'USD'::text NOT NULL,
    "geoJSON" text,
    "centerLat" double precision,
    "centerLng" double precision,
    financiacion text,
    estado text DEFAULT 'DISPONIBLE'::text NOT NULL,
    "coordenadasMasterplan" text,
    imagenes text,
    "tour360Url" text,
    "responsableId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    polygon jsonb,
    "bloqueadoHasta" timestamp(3) without time zone
);


ALTER TABLE public.unidades OWNER TO usuario;

--
-- Name: users; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    nombre text NOT NULL,
    rol text DEFAULT 'VENDEDOR'::text NOT NULL,
    "whatsappNumber" text,
    "aiAgentTone" text DEFAULT 'PROFESIONAL'::text NOT NULL,
    "useAiCopilot" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    apellido text,
    telefono text,
    direccion text,
    apodo text,
    avatar text,
    bio text,
    "fechaNacimiento" timestamp(3) without time zone,
    "kycStatus" text DEFAULT 'PENDIENTE'::text NOT NULL,
    configuracion text,
    saldo numeric(18,2) DEFAULT 0 NOT NULL,
    "demoEndsAt" timestamp(3) without time zone,
    "demoUsed" boolean DEFAULT false NOT NULL,
    "riskLevel" text DEFAULT 'low'::text NOT NULL,
    "riskReason" text,
    "orgId" text,
    "kycRequiredAt" timestamp(3) without time zone,
    "kycSubmittedAt" timestamp(3) without time zone,
    "developerVerified" boolean DEFAULT false NOT NULL,
    "passwordResetExpires" timestamp(3) without time zone,
    "passwordResetToken" text
);


ALTER TABLE public.users OWNER TO usuario;

--
-- Name: workflow_nodos; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.workflow_nodos (
    id text NOT NULL,
    "workflowId" text NOT NULL,
    tipo text NOT NULL,
    orden integer NOT NULL,
    config jsonb NOT NULL
);


ALTER TABLE public.workflow_nodos OWNER TO usuario;

--
-- Name: workflow_run_pasos; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.workflow_run_pasos (
    id text NOT NULL,
    "runId" text NOT NULL,
    "nodoTipo" text NOT NULL,
    input jsonb,
    output jsonb,
    estado text DEFAULT 'OK'::text NOT NULL,
    ms integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.workflow_run_pasos OWNER TO usuario;

--
-- Name: workflow_runs; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.workflow_runs (
    id text NOT NULL,
    "workflowId" text NOT NULL,
    trigger text NOT NULL,
    "entityId" text,
    estado text DEFAULT 'RUNNING'::text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "finishedAt" timestamp(3) without time zone,
    error text
);


ALTER TABLE public.workflow_runs OWNER TO usuario;

--
-- Name: workflows; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.workflows (
    id text NOT NULL,
    "orgId" text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    trigger text NOT NULL,
    activo boolean DEFAULT false NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.workflows OWNER TO usuario;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.banners (id, titulo, tipo, "mediaUrl", "linkDestino", posicion, prioridad, estado, "fechaInicio", "fechaFin", "notasAdmin", "creadoPorId", "createdAt", "updatedAt", "approvedAt", "approvedById", context, "ctaText", "ctaUrl", headline, "internalName", "orgId", "projectId", "publishedAt", subheadline, tagline) FROM stdin;
\.


--
-- Data for Name: blog_posts; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.blog_posts (id, titulo, contenido, slug, status, "autorId", "orgId", imagen, tags, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: documentacion; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.documentacion (id, tipo, "archivoUrl", estado, comentarios, "usuarioId", "proyectoId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: etapas; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.etapas (id, "proyectoId", nombre, orden, estado, "createdAt", "updatedAt") FROM stdin;
cmmtx7u1a0004lkgt8q7z6lb1	cmmtx7u1a0003lkgtsx73abw4	Etapa 1	1	EN_CURSO	2026-03-17 01:15:33.454	2026-03-17 01:15:33.454
cmmtx7u2q000dlkgttqe4urk8	cmmtx7u2b0008lkgtp2jr7yy6	Etapa 1	1	EN_CURSO	2026-03-17 01:15:33.506	2026-03-17 01:15:33.506
\.


--
-- Data for Name: favoritos_proyecto; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.favoritos_proyecto (id, "userId", "proyectoId", "createdAt") FROM stdin;
\.


--
-- Data for Name: historial_unidades; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.historial_unidades (id, "unidadId", "usuarioId", "estadoAnterior", "estadoNuevo", motivo, "createdAt") FROM stdin;
\.


--
-- Data for Name: hitos_escrow; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.hitos_escrow (id, "proyectoId", titulo, descripcion, porcentaje, estado, "fechaLogro", "createdAt") FROM stdin;
cmmtx7u2b0009lkgtmi6c9arl	cmmtx7u2b0008lkgtp2jr7yy6	Soft Cap: 20%	\N	20	COMPLETADO	2026-03-17 01:15:33.487	2026-03-17 01:15:33.491
cmmtx7u2b000alkgt8q219ljz	cmmtx7u2b0008lkgtp2jr7yy6	Apertura de Calles	\N	30	PENDIENTE	\N	2026-03-17 01:15:33.491
cmmtx7u2b000blkgt37jo2q9p	cmmtx7u2b0008lkgtp2jr7yy6	Servicios B├ísicos	\N	50	PENDIENTE	\N	2026-03-17 01:15:33.491
\.


--
-- Data for Name: imagenes_mapa; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: infraestructuras; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.integration_configs (id, "orgId", provider, status, config, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: inversiones; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.inversiones (id, "proyectoId", "inversorId", "m2Comprados", "montoTotal", "precioM2Aplicado", estado, "hashTransaccion", "fechaInversion", "updatedAt") FROM stdin;
cmmtx7u3i0017lkgt3cqf3pvl	cmmtx7u2b0008lkgtp2jr7yy6	cmmtx7u150002lkgtezqybx8l	100.00	12000.00	120.00	ESCROW	0x4fb...92c	2026-03-17 01:15:33.534	2026-03-17 01:15:33.534
\.


--
-- Data for Name: kyc_profiles; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: lead_intake; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.lead_intake (id, source, "rawPayload", status, error, "orgId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: lead_messages; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.lead_messages (id, "leadId", role, content, "createdAt") FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.leads (id, nombre, email, telefono, origen, "proyectoId", "unidadInteres", estado, "asignadoAId", "ultimoContacto", fuente, campana, mensaje, notas, "aiQualificationScore", "lastAiSummary", "automationStatus", "communityType", "createdAt", "updatedAt", presupuesto, "perfilInversor", "adId", "adSetId", "campanaId", "canalOrigen", "orgId", score, "etapaId") FROM stdin;
\.


--
-- Data for Name: logic_toop_executions; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.logic_toop_executions (id, "flowId", "triggerPayload", status, logs, "startedAt", "finishedAt", "resumeAt", "currentStepIndex", "aiEstimatedCost", "aiModelsUsed", "aiTokensUsed", "errorMessage") FROM stdin;
\.


--
-- Data for Name: logic_toop_flows; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.logic_toop_flows (id, "orgId", nombre, descripcion, "triggerType", actions, activo, "createdAt", "updatedAt", metadata, "recommendationId", status) FROM stdin;
\.


--
-- Data for Name: logic_toop_jobs; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.logic_toop_jobs (id, "executionId", "orgId", "actionType", config, payload, attempts, "maxRetries", status, "scheduledAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: logic_toop_recommendations; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.logic_toop_recommendations (id, "orgId", type, title, description, "problemDetected", "proposedSolution", "expectedImpact", confidence, severity, status, "suggestedTrigger", "suggestedNodes", signals, "sourceMetrics", explanation, "createdAt", "updatedAt", "sourceFlowId") FROM stdin;
\.


--
-- Data for Name: logic_toop_templates; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.logic_toop_templates (id, nombre, descripcion, "triggerType", "createdAt", category, "createdBy", "flowConfig", "updatedAt", version) FROM stdin;
\.


--
-- Data for Name: manzanas; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.manzanas (id, "etapaId", nombre, coordenadas, "createdAt", "updatedAt") FROM stdin;
cmmtx7u1a0005lkgtpcqx4gih	cmmtx7u1a0004lkgt8q7z6lb1	Manzana A	\N	2026-03-17 01:15:33.454	2026-03-17 01:15:33.454
cmmtx7u2w000flkgthqvc58p0	cmmtx7u2q000dlkgttqe4urk8	Manzana A	\N	2026-03-17 01:15:33.512	2026-03-17 01:15:33.512
cmmtx7u38000tlkgt7q3caroa	cmmtx7u2q000dlkgttqe4urk8	Manzana B	\N	2026-03-17 01:15:33.524	2026-03-17 01:15:33.524
\.


--
-- Data for Name: noticias; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.noticias (id, titulo, slug, excerpt, contenido, categoria, "imagenUrl", destacada, "autorId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.notificaciones (id, "usuarioId", tipo, titulo, mensaje, leido, "linkAccion", "createdAt") FROM stdin;
\.


--
-- Data for Name: oportunidades; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.oportunidades (id, "leadId", "proyectoId", "unidadId", etapa, probabilidad, "valorEstimado", presupuesto, "fechaCierreEstimada", "proximaAccion", "fechaProximaAccion", "motivoPerdida", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.organizations (id, nombre, slug, plan, "createdAt", "updatedAt", "planId") FROM stdin;
\.


--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.pagos (id, monto, moneda, concepto, estado, "comprobanteUrl", "fechaPago", "usuarioId", "proyectoId", "bannerId", "createdAt", "updatedAt", tipo, "idempotencyKey") FROM stdin;
\.


--
-- Data for Name: pipeline_etapas; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.pipeline_etapas (id, "orgId", nombre, color, orden, "esDefault", "createdAt") FROM stdin;
\.


--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.plans (id, nombre, precio, limites, features, "createdAt") FROM stdin;
\.


--
-- Data for Name: price_history; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.price_history (id, "proyectoId", "usuarioId", "precioAnterior", "precioNuevo", tipo, motivo, "createdAt") FROM stdin;
\.


--
-- Data for Name: project_feature_flags; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.project_feature_flags (id, "projectId", "infoGeneral", archivos, documentos, pagos, masterplan, "motorPlanos", tour360, etapas, inventario, metricas, "updatedAt") FROM stdin;
\.


--
-- Data for Name: proyecto_archivos; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.proyecto_archivos (id, "proyectoId", tipo, nombre, url, "visiblePublicamente", "createdAt") FROM stdin;
\.


--
-- Data for Name: proyecto_imagenes; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.proyecto_imagenes (id, "proyectoId", url, categoria, "esPrincipal", orden, "createdAt") FROM stdin;
\.


--
-- Data for Name: proyectos; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: reservas; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.reservas (id, "unidadId", "leadId", "vendedorId", "fechaInicio", "fechaVencimiento", "montoSena", "estadoPago", "documentoGenerado", estado, "createdAt", "updatedAt", "compradorEmail", "compradorId", "compradorNombre", notas, "idempotencyKey") FROM stdin;
\.


--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.system_config (key, value, description, "updatedAt") FROM stdin;
\.


--
-- Data for Name: tareas; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.tareas (id, titulo, descripcion, "fechaVencimiento", prioridad, estado, "leadId", "usuarioId", "proyectoId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: testimonios; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.testimonios (id, "autorNombre", "autorTipo", "autorContacto", texto, rating, "mediaUrl", "proyectoId", estado, destacado, "notasAdmin", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tour_hotspots; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.tour_hotspots (id, "sceneId", "unidadId", type, pitch, yaw, text, "targetSceneId") FROM stdin;
\.


--
-- Data for Name: tour_scenes; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.tour_scenes (id, "tourId", title, "imageUrl", "isDefault", "order", category, "pannellumHotspots", "thumbnailUrl", "masterplanOverlay") FROM stdin;
\.


--
-- Data for Name: tours_360; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.tours_360 (id, "proyectoId", "unidadId", nombre, estado, "notasAdmin", "createdAt", "updatedAt", anchors) FROM stdin;
\.


--
-- Data for Name: unidades; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: workflow_nodos; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.workflow_nodos (id, "workflowId", tipo, orden, config) FROM stdin;
\.


--
-- Data for Name: workflow_run_pasos; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.workflow_run_pasos (id, "runId", "nodoTipo", input, output, estado, ms, "createdAt") FROM stdin;
\.


--
-- Data for Name: workflow_runs; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.workflow_runs (id, "workflowId", trigger, "entityId", estado, "startedAt", "finishedAt", error) FROM stdin;
\.


--
-- Data for Name: workflows; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.workflows (id, "orgId", nombre, descripcion, trigger, activo, version, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: documentacion documentacion_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.documentacion
    ADD CONSTRAINT documentacion_pkey PRIMARY KEY (id);


--
-- Name: etapas etapas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.etapas
    ADD CONSTRAINT etapas_pkey PRIMARY KEY (id);


--
-- Name: favoritos_proyecto favoritos_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.favoritos_proyecto
    ADD CONSTRAINT favoritos_proyecto_pkey PRIMARY KEY (id);


--
-- Name: historial_unidades historial_unidades_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.historial_unidades
    ADD CONSTRAINT historial_unidades_pkey PRIMARY KEY (id);


--
-- Name: hitos_escrow hitos_escrow_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.hitos_escrow
    ADD CONSTRAINT hitos_escrow_pkey PRIMARY KEY (id);


--
-- Name: imagenes_mapa imagenes_mapa_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.imagenes_mapa
    ADD CONSTRAINT imagenes_mapa_pkey PRIMARY KEY (id);


--
-- Name: infraestructuras infraestructuras_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.infraestructuras
    ADD CONSTRAINT infraestructuras_pkey PRIMARY KEY (id);


--
-- Name: integration_configs integration_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT integration_configs_pkey PRIMARY KEY (id);


--
-- Name: inversiones inversiones_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.inversiones
    ADD CONSTRAINT inversiones_pkey PRIMARY KEY (id);


--
-- Name: kyc_profiles kyc_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.kyc_profiles
    ADD CONSTRAINT kyc_profiles_pkey PRIMARY KEY (id);


--
-- Name: lead_intake lead_intake_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.lead_intake
    ADD CONSTRAINT lead_intake_pkey PRIMARY KEY (id);


--
-- Name: lead_messages lead_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.lead_messages
    ADD CONSTRAINT lead_messages_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: logic_toop_executions logic_toop_executions_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_executions
    ADD CONSTRAINT logic_toop_executions_pkey PRIMARY KEY (id);


--
-- Name: logic_toop_flows logic_toop_flows_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_flows
    ADD CONSTRAINT logic_toop_flows_pkey PRIMARY KEY (id);


--
-- Name: logic_toop_jobs logic_toop_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_jobs
    ADD CONSTRAINT logic_toop_jobs_pkey PRIMARY KEY (id);


--
-- Name: logic_toop_recommendations logic_toop_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_recommendations
    ADD CONSTRAINT logic_toop_recommendations_pkey PRIMARY KEY (id);


--
-- Name: logic_toop_templates logic_toop_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_templates
    ADD CONSTRAINT logic_toop_templates_pkey PRIMARY KEY (id);


--
-- Name: manzanas manzanas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.manzanas
    ADD CONSTRAINT manzanas_pkey PRIMARY KEY (id);


--
-- Name: noticias noticias_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.noticias
    ADD CONSTRAINT noticias_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: oportunidades oportunidades_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.oportunidades
    ADD CONSTRAINT oportunidades_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id);


--
-- Name: pipeline_etapas pipeline_etapas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pipeline_etapas
    ADD CONSTRAINT pipeline_etapas_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (id);


--
-- Name: project_feature_flags project_feature_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.project_feature_flags
    ADD CONSTRAINT project_feature_flags_pkey PRIMARY KEY (id);


--
-- Name: proyecto_archivos proyecto_archivos_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyecto_archivos
    ADD CONSTRAINT proyecto_archivos_pkey PRIMARY KEY (id);


--
-- Name: proyecto_imagenes proyecto_imagenes_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyecto_imagenes
    ADD CONSTRAINT proyecto_imagenes_pkey PRIMARY KEY (id);


--
-- Name: proyectos proyectos_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT proyectos_pkey PRIMARY KEY (id);


--
-- Name: reservas reservas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_pkey PRIMARY KEY (id);


--
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (key);


--
-- Name: tareas tareas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_pkey PRIMARY KEY (id);


--
-- Name: testimonios testimonios_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.testimonios
    ADD CONSTRAINT testimonios_pkey PRIMARY KEY (id);


--
-- Name: tour_hotspots tour_hotspots_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tour_hotspots
    ADD CONSTRAINT tour_hotspots_pkey PRIMARY KEY (id);


--
-- Name: tour_scenes tour_scenes_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tour_scenes
    ADD CONSTRAINT tour_scenes_pkey PRIMARY KEY (id);


--
-- Name: tours_360 tours_360_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tours_360
    ADD CONSTRAINT tours_360_pkey PRIMARY KEY (id);


--
-- Name: unidades unidades_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT unidades_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workflow_nodos workflow_nodos_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_nodos
    ADD CONSTRAINT workflow_nodos_pkey PRIMARY KEY (id);


--
-- Name: workflow_run_pasos workflow_run_pasos_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_run_pasos
    ADD CONSTRAINT workflow_run_pasos_pkey PRIMARY KEY (id);


--
-- Name: workflow_runs workflow_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_runs
    ADD CONSTRAINT workflow_runs_pkey PRIMARY KEY (id);


--
-- Name: workflows workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT workflows_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: banners_context_orgId_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "banners_context_orgId_estado_idx" ON public.banners USING btree (context, "orgId", estado);


--
-- Name: banners_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "banners_orgId_idx" ON public.banners USING btree ("orgId");


--
-- Name: blog_posts_slug_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX blog_posts_slug_key ON public.blog_posts USING btree (slug);


--
-- Name: etapas_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "etapas_proyectoId_idx" ON public.etapas USING btree ("proyectoId");


--
-- Name: favoritos_proyecto_userId_proyectoId_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "favoritos_proyecto_userId_proyectoId_key" ON public.favoritos_proyecto USING btree ("userId", "proyectoId");


--
-- Name: historial_unidades_unidadId_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "historial_unidades_unidadId_createdAt_idx" ON public.historial_unidades USING btree ("unidadId", "createdAt");


--
-- Name: imagenes_mapa_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "imagenes_mapa_proyectoId_idx" ON public.imagenes_mapa USING btree ("proyectoId");


--
-- Name: imagenes_mapa_unidadId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "imagenes_mapa_unidadId_idx" ON public.imagenes_mapa USING btree ("unidadId");


--
-- Name: infraestructuras_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "infraestructuras_proyectoId_idx" ON public.infraestructuras USING btree ("proyectoId");


--
-- Name: integration_configs_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "integration_configs_orgId_idx" ON public.integration_configs USING btree ("orgId");


--
-- Name: integration_configs_orgId_provider_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "integration_configs_orgId_provider_key" ON public.integration_configs USING btree ("orgId", provider);


--
-- Name: integration_configs_provider_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX integration_configs_provider_idx ON public.integration_configs USING btree (provider);


--
-- Name: kyc_profiles_userId_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "kyc_profiles_userId_key" ON public.kyc_profiles USING btree ("userId");


--
-- Name: lead_intake_source_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX lead_intake_source_idx ON public.lead_intake USING btree (source);


--
-- Name: lead_intake_status_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX lead_intake_status_idx ON public.lead_intake USING btree (status);


--
-- Name: lead_messages_leadId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "lead_messages_leadId_idx" ON public.lead_messages USING btree ("leadId");


--
-- Name: leads_asignadoAId_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "leads_asignadoAId_estado_idx" ON public.leads USING btree ("asignadoAId", estado);


--
-- Name: leads_asignadoAId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "leads_asignadoAId_idx" ON public.leads USING btree ("asignadoAId");


--
-- Name: leads_canalOrigen_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "leads_canalOrigen_idx" ON public.leads USING btree ("canalOrigen");


--
-- Name: leads_email_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX leads_email_idx ON public.leads USING btree (email);


--
-- Name: leads_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX leads_estado_idx ON public.leads USING btree (estado);


--
-- Name: leads_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "leads_orgId_idx" ON public.leads USING btree ("orgId");


--
-- Name: leads_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "leads_proyectoId_idx" ON public.leads USING btree ("proyectoId");


--
-- Name: leads_telefono_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX leads_telefono_idx ON public.leads USING btree (telefono);


--
-- Name: logic_toop_executions_flowId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_executions_flowId_idx" ON public.logic_toop_executions USING btree ("flowId");


--
-- Name: logic_toop_executions_startedAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_executions_startedAt_idx" ON public.logic_toop_executions USING btree ("startedAt");


--
-- Name: logic_toop_executions_status_resumeAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_executions_status_resumeAt_idx" ON public.logic_toop_executions USING btree (status, "resumeAt");


--
-- Name: logic_toop_flows_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_flows_orgId_idx" ON public.logic_toop_flows USING btree ("orgId");


--
-- Name: logic_toop_flows_recommendationId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_flows_recommendationId_idx" ON public.logic_toop_flows USING btree ("recommendationId");


--
-- Name: logic_toop_flows_status_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX logic_toop_flows_status_idx ON public.logic_toop_flows USING btree (status);


--
-- Name: logic_toop_flows_triggerType_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_flows_triggerType_idx" ON public.logic_toop_flows USING btree ("triggerType");


--
-- Name: logic_toop_jobs_executionId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_jobs_executionId_idx" ON public.logic_toop_jobs USING btree ("executionId");


--
-- Name: logic_toop_jobs_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_jobs_orgId_idx" ON public.logic_toop_jobs USING btree ("orgId");


--
-- Name: logic_toop_jobs_status_scheduledAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_jobs_status_scheduledAt_idx" ON public.logic_toop_jobs USING btree (status, "scheduledAt");


--
-- Name: logic_toop_recommendations_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "logic_toop_recommendations_orgId_idx" ON public.logic_toop_recommendations USING btree ("orgId");


--
-- Name: logic_toop_recommendations_status_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX logic_toop_recommendations_status_idx ON public.logic_toop_recommendations USING btree (status);


--
-- Name: logic_toop_recommendations_type_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX logic_toop_recommendations_type_idx ON public.logic_toop_recommendations USING btree (type);


--
-- Name: manzanas_etapaId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "manzanas_etapaId_idx" ON public.manzanas USING btree ("etapaId");


--
-- Name: noticias_slug_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX noticias_slug_key ON public.noticias USING btree (slug);


--
-- Name: notificaciones_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "notificaciones_createdAt_idx" ON public.notificaciones USING btree ("createdAt");


--
-- Name: notificaciones_usuarioId_leido_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "notificaciones_usuarioId_leido_idx" ON public.notificaciones USING btree ("usuarioId", leido);


--
-- Name: organizations_planId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "organizations_planId_idx" ON public.organizations USING btree ("planId");


--
-- Name: organizations_slug_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX organizations_slug_key ON public.organizations USING btree (slug);


--
-- Name: pagos_bannerId_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "pagos_bannerId_key" ON public.pagos USING btree ("bannerId");


--
-- Name: pagos_idempotencyKey_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "pagos_idempotencyKey_key" ON public.pagos USING btree ("idempotencyKey");


--
-- Name: pagos_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "pagos_proyectoId_idx" ON public.pagos USING btree ("proyectoId");


--
-- Name: pagos_usuarioId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "pagos_usuarioId_idx" ON public.pagos USING btree ("usuarioId");


--
-- Name: pipeline_etapas_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "pipeline_etapas_orgId_idx" ON public.pipeline_etapas USING btree ("orgId");


--
-- Name: price_history_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "price_history_createdAt_idx" ON public.price_history USING btree ("createdAt");


--
-- Name: price_history_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "price_history_proyectoId_idx" ON public.price_history USING btree ("proyectoId");


--
-- Name: project_feature_flags_projectId_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "project_feature_flags_projectId_key" ON public.project_feature_flags USING btree ("projectId");


--
-- Name: proyecto_archivos_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyecto_archivos_proyectoId_idx" ON public.proyecto_archivos USING btree ("proyectoId");


--
-- Name: proyecto_imagenes_orden_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX proyecto_imagenes_orden_idx ON public.proyecto_imagenes USING btree (orden);


--
-- Name: proyecto_imagenes_proyectoId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyecto_imagenes_proyectoId_idx" ON public.proyecto_imagenes USING btree ("proyectoId");


--
-- Name: proyectos_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyectos_createdAt_idx" ON public.proyectos USING btree ("createdAt");


--
-- Name: proyectos_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX proyectos_estado_idx ON public.proyectos USING btree (estado);


--
-- Name: proyectos_isDemo_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyectos_isDemo_idx" ON public.proyectos USING btree ("isDemo");


--
-- Name: proyectos_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyectos_orgId_idx" ON public.proyectos USING btree ("orgId");


--
-- Name: proyectos_slug_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX proyectos_slug_key ON public.proyectos USING btree (slug);


--
-- Name: proyectos_tipo_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX proyectos_tipo_idx ON public.proyectos USING btree (tipo);


--
-- Name: proyectos_visibilityStatus_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "proyectos_visibilityStatus_idx" ON public.proyectos USING btree ("visibilityStatus");


--
-- Name: reservas_compradorId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "reservas_compradorId_idx" ON public.reservas USING btree ("compradorId");


--
-- Name: reservas_createdAt_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "reservas_createdAt_idx" ON public.reservas USING btree ("createdAt");


--
-- Name: reservas_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX reservas_estado_idx ON public.reservas USING btree (estado);


--
-- Name: reservas_idempotencyKey_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "reservas_idempotencyKey_key" ON public.reservas USING btree ("idempotencyKey");


--
-- Name: reservas_leadId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "reservas_leadId_idx" ON public.reservas USING btree ("leadId");


--
-- Name: reservas_unidadId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "reservas_unidadId_idx" ON public.reservas USING btree ("unidadId");


--
-- Name: reservas_vendedorId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "reservas_vendedorId_idx" ON public.reservas USING btree ("vendedorId");


--
-- Name: tour_hotspots_sceneId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "tour_hotspots_sceneId_idx" ON public.tour_hotspots USING btree ("sceneId");


--
-- Name: tour_hotspots_unidadId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "tour_hotspots_unidadId_idx" ON public.tour_hotspots USING btree ("unidadId");


--
-- Name: tour_scenes_tourId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "tour_scenes_tourId_idx" ON public.tour_scenes USING btree ("tourId");


--
-- Name: unidades_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX unidades_estado_idx ON public.unidades USING btree (estado);


--
-- Name: unidades_manzanaId_estado_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "unidades_manzanaId_estado_idx" ON public.unidades USING btree ("manzanaId", estado);


--
-- Name: unidades_manzanaId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "unidades_manzanaId_idx" ON public.unidades USING btree ("manzanaId");


--
-- Name: unidades_responsableId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "unidades_responsableId_idx" ON public.unidades USING btree ("responsableId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "users_orgId_idx" ON public.users USING btree ("orgId");


--
-- Name: users_passwordResetToken_key; Type: INDEX; Schema: public; Owner: usuario
--

CREATE UNIQUE INDEX "users_passwordResetToken_key" ON public.users USING btree ("passwordResetToken");


--
-- Name: workflow_nodos_workflowId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "workflow_nodos_workflowId_idx" ON public.workflow_nodos USING btree ("workflowId");


--
-- Name: workflow_run_pasos_runId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "workflow_run_pasos_runId_idx" ON public.workflow_run_pasos USING btree ("runId");


--
-- Name: workflow_runs_entityId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "workflow_runs_entityId_idx" ON public.workflow_runs USING btree ("entityId");


--
-- Name: workflow_runs_workflowId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "workflow_runs_workflowId_idx" ON public.workflow_runs USING btree ("workflowId");


--
-- Name: workflows_orgId_idx; Type: INDEX; Schema: public; Owner: usuario
--

CREATE INDEX "workflows_orgId_idx" ON public.workflows USING btree ("orgId");


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: banners banners_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT "banners_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: banners banners_creadoPorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT "banners_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: banners banners_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT "banners_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: banners banners_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT "banners_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: blog_posts blog_posts_autorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT "blog_posts_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: blog_posts blog_posts_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT "blog_posts_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: documentacion documentacion_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.documentacion
    ADD CONSTRAINT "documentacion_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documentacion documentacion_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.documentacion
    ADD CONSTRAINT "documentacion_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: etapas etapas_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.etapas
    ADD CONSTRAINT "etapas_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favoritos_proyecto favoritos_proyecto_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.favoritos_proyecto
    ADD CONSTRAINT "favoritos_proyecto_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favoritos_proyecto favoritos_proyecto_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.favoritos_proyecto
    ADD CONSTRAINT "favoritos_proyecto_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: historial_unidades historial_unidades_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.historial_unidades
    ADD CONSTRAINT "historial_unidades_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: historial_unidades historial_unidades_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.historial_unidades
    ADD CONSTRAINT "historial_unidades_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: hitos_escrow hitos_escrow_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.hitos_escrow
    ADD CONSTRAINT "hitos_escrow_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: imagenes_mapa imagenes_mapa_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.imagenes_mapa
    ADD CONSTRAINT "imagenes_mapa_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: imagenes_mapa imagenes_mapa_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.imagenes_mapa
    ADD CONSTRAINT "imagenes_mapa_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: infraestructuras infraestructuras_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.infraestructuras
    ADD CONSTRAINT "infraestructuras_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: integration_configs integration_configs_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT "integration_configs_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inversiones inversiones_inversorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.inversiones
    ADD CONSTRAINT "inversiones_inversorId_fkey" FOREIGN KEY ("inversorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inversiones inversiones_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.inversiones
    ADD CONSTRAINT "inversiones_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kyc_profiles kyc_profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.kyc_profiles
    ADD CONSTRAINT "kyc_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lead_messages lead_messages_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.lead_messages
    ADD CONSTRAINT "lead_messages_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leads leads_asignadoAId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_asignadoAId_fkey" FOREIGN KEY ("asignadoAId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: leads leads_etapaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_etapaId_fkey" FOREIGN KEY ("etapaId") REFERENCES public.pipeline_etapas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: leads leads_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: leads leads_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT "leads_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: logic_toop_executions logic_toop_executions_flowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_executions
    ADD CONSTRAINT "logic_toop_executions_flowId_fkey" FOREIGN KEY ("flowId") REFERENCES public.logic_toop_flows(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: logic_toop_flows logic_toop_flows_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_flows
    ADD CONSTRAINT "logic_toop_flows_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: logic_toop_flows logic_toop_flows_recommendationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_flows
    ADD CONSTRAINT "logic_toop_flows_recommendationId_fkey" FOREIGN KEY ("recommendationId") REFERENCES public.logic_toop_recommendations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: logic_toop_jobs logic_toop_jobs_executionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_jobs
    ADD CONSTRAINT "logic_toop_jobs_executionId_fkey" FOREIGN KEY ("executionId") REFERENCES public.logic_toop_executions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: logic_toop_recommendations logic_toop_recommendations_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_recommendations
    ADD CONSTRAINT "logic_toop_recommendations_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: logic_toop_recommendations logic_toop_recommendations_sourceFlowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.logic_toop_recommendations
    ADD CONSTRAINT "logic_toop_recommendations_sourceFlowId_fkey" FOREIGN KEY ("sourceFlowId") REFERENCES public.logic_toop_flows(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: manzanas manzanas_etapaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.manzanas
    ADD CONSTRAINT "manzanas_etapaId_fkey" FOREIGN KEY ("etapaId") REFERENCES public.etapas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: noticias noticias_autorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.noticias
    ADD CONSTRAINT "noticias_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notificaciones notificaciones_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT "notificaciones_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: oportunidades oportunidades_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.oportunidades
    ADD CONSTRAINT "oportunidades_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: oportunidades oportunidades_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.oportunidades
    ADD CONSTRAINT "oportunidades_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: oportunidades oportunidades_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.oportunidades
    ADD CONSTRAINT "oportunidades_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: organizations organizations_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "organizations_planId_fkey" FOREIGN KEY ("planId") REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pagos pagos_bannerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT "pagos_bannerId_fkey" FOREIGN KEY ("bannerId") REFERENCES public.banners(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pagos pagos_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT "pagos_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pagos pagos_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT "pagos_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pipeline_etapas pipeline_etapas_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.pipeline_etapas
    ADD CONSTRAINT "pipeline_etapas_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: price_history price_history_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT "price_history_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: price_history price_history_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT "price_history_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: project_feature_flags project_feature_flags_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.project_feature_flags
    ADD CONSTRAINT "project_feature_flags_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyecto_archivos proyecto_archivos_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyecto_archivos
    ADD CONSTRAINT "proyecto_archivos_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyecto_imagenes proyecto_imagenes_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyecto_imagenes
    ADD CONSTRAINT "proyecto_imagenes_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: proyectos proyectos_creadoPorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT "proyectos_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: proyectos proyectos_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.proyectos
    ADD CONSTRAINT "proyectos_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reservas reservas_compradorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT "reservas_compradorId_fkey" FOREIGN KEY ("compradorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reservas reservas_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT "reservas_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reservas reservas_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT "reservas_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reservas reservas_vendedorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT "reservas_vendedorId_fkey" FOREIGN KEY ("vendedorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tareas tareas_leadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT "tareas_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES public.leads(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: tareas tareas_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT "tareas_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: tareas tareas_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT "tareas_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: testimonios testimonios_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.testimonios
    ADD CONSTRAINT "testimonios_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: tour_hotspots tour_hotspots_sceneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tour_hotspots
    ADD CONSTRAINT "tour_hotspots_sceneId_fkey" FOREIGN KEY ("sceneId") REFERENCES public.tour_scenes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tour_hotspots tour_hotspots_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tour_hotspots
    ADD CONSTRAINT "tour_hotspots_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: tour_scenes tour_scenes_tourId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tour_scenes
    ADD CONSTRAINT "tour_scenes_tourId_fkey" FOREIGN KEY ("tourId") REFERENCES public.tours_360(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tours_360 tours_360_proyectoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tours_360
    ADD CONSTRAINT "tours_360_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES public.proyectos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tours_360 tours_360_unidadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tours_360
    ADD CONSTRAINT "tours_360_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES public.unidades(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: unidades unidades_manzanaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT "unidades_manzanaId_fkey" FOREIGN KEY ("manzanaId") REFERENCES public.manzanas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unidades unidades_responsableId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.unidades
    ADD CONSTRAINT "unidades_responsableId_fkey" FOREIGN KEY ("responsableId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: workflow_nodos workflow_nodos_workflowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_nodos
    ADD CONSTRAINT "workflow_nodos_workflowId_fkey" FOREIGN KEY ("workflowId") REFERENCES public.workflows(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workflow_run_pasos workflow_run_pasos_runId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_run_pasos
    ADD CONSTRAINT "workflow_run_pasos_runId_fkey" FOREIGN KEY ("runId") REFERENCES public.workflow_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workflow_runs workflow_runs_workflowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflow_runs
    ADD CONSTRAINT "workflow_runs_workflowId_fkey" FOREIGN KEY ("workflowId") REFERENCES public.workflows(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: workflows workflows_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT "workflows_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public.organizations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: usuario
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict MkxUY4hTf86T5bCnuBVhyaECfl6v8UmTeWEORoXRBMvICW0QIeFnQBfXNACpjWc

